* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    background: #f5f5f5;
    display: flex;
}
.cart-container {
    width: 100%;
    background: #fff;
    border-radius: 1rem;
}
.close-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 1.75rem;
    cursor: pointer;
    font-weight: bold;
    color: #333;
}
.cart-header {
    font-weight: 600;
    padding: 1rem;
    font-size: 1.75rem;
}
.delivery-section {
    padding: 0 1rem;
    background: rgba(95, 158, 160, 0.5);
    border-radius: 1rem;
    color: black;
    display: flex;
    justify-content: space-between;
}
.delivery-section p {
    font-size: 1rem;
    color: #555;
}
.item-box {
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
}
.item-box img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}
.item-details {
    flex-grow: 1;
}
.item-details p {
    font-size: 1rem;
}
.quantity-control {
    background: #f2fff4;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
}
.quantity-control button {
    padding: 0.25rem 0.5rem;
    background: #28a745;
    color: #fff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
.quantity-control span {
    padding: 0 0.5rem;
    font-size: 1rem;
}
.bill-section {
    padding: 1rem;
    font-size: 1rem;
    border-top: 0.1rem solid #eee;
}
.bill-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.total-bill-line {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bolder;
}
.policy-section {
    font-size: 1rem;
    color: #777;
    padding: 0 1rem 1rem;
}
.address-section {
    background: #e6f4ea;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    border-radius: 1rem;
    margin-bottom: 0.25rem;
}
div.seperator {
    background-color: gray;
    width: 100%;
    height: 0.1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.payment-section {
    background: #e6f4ea;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    border-radius: 1rem;
    margin-bottom: 0.25rem;
}
.pay-section {
    background: #e6f4ea;
    padding: 0.25rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    border-radius: 1rem;
    margin-bottom: 0.25rem;
}
.cart-total {
    color: black;
    font-size: 1.25rem;
}
.footer-total span {
    font-size: 0.8rem;
    color: #888;
    display: block;
}
.pay-btn {
    padding: 1rem 1rem;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.login-btn {
    padding: 1rem 1rem;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 1rem;
    font-weight: 600;
    cursor: pointer;
}
div.checkout-summary {

}