body {
    margin: 0;
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    flex: 0 0 20%;
    max-width: 20%;
    background-color: #fff;
    border-right: 1px solid #dee2e6;
    padding: 0.5rem 0.5rem;
    overflow-y: auto;
}

.sidebar-subcategory-item {
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;
}

.sidebar-subcategory-item:hover,
.sidebar-subcategory-item.active {
    background-color: #a8ddbc;
    font-weight: bold;
}

.sidebar-subcategory-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 8px;
}

div.row {
    flex: 1;
    padding: 0.8rem 0.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    border: 0.1rem solid rgba(80, 128, 73, 0.1);
    box-shadow: 0 -0.1rem 2rem rgba(0, 0, 0, 0.1);
}
.content {
    flex: 1;
    padding: 0.1rem;
    max-width: 80%;
}

.square-tile {
    height: auto;
    flex-direction: column;
}

.square-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 12px;
}



@media (max-width: 640px) {
    .square-tile {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .square-image {
        width: 50px;
        height: 50px;
    }
}

div.image-quantity {
    display: flex;
    justify-content: space-evenly;
}
h5.productDescription {
    margin-top: 1rem;
    font-size: 1.5rem;
}
div.category-header{
    display: flex;
    flex-direction: row;
    padding: 1rem 0.5rem;
    gap: 1rem;
}